.custom-search-bar #ubicacionOrigenSB{
    text-align: start;
    font-size: 1.1rem;
    margin-left: 4px;
    margin-bottom: -10px;
}

.custom-search-bar #ubicacionDestinoSB{
    text-align: start;
    font-size: 1.1rem;
    margin-left: 4px;
    margin-bottom: -10px;
}



.custom-search-bar h6{
    text-align: start;
    font-size: 1.1rem;
    margin-top: -10px;
}

.custom-search-bar .MuiBox-root .css-js43ba{
    padding: 3px;
}

.custom-search-bar #checkboxSB .MuiFormControlLabel-label{
    font-size: .9rem;
    margin-left: 2px;
}

.custom-search-bar  #checkboxSB span {	
    position:sticky;
    margin-top: -12px;
}

.custom-search-bar .date-time-selectors-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.custom-search-bar .btn-buscar-sb{
    margin-top: -12px;
}

.custom-search-bar .arrow-icon{
    display: block !important;
}

.custom-search-bar .fh-rec-sbc,
.custom-search-bar .fh-dev-sbc {
    flex: 1; 
}

.custom-search-bar .fh-rec-sbc {
    margin-bottom: 20px;
}

.custom-search-bar .second-select{
    margin-top: -20px;
}

@media screen and (max-width: 1201px) {

    .custom-search-bar{
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        position: relative !important;
        top: -10px !important;
    }

    #sectionOne{
        height: 110vh !important;
    }

    #sectionDerechaTitle{
        position: absolute !important;
        left: 6% !important;
        margin-bottom: 10px !important;
    }

    .custom-search-bar #containerBox{
    width: 90%;
    }

    @media screen and (max-width: 500px) {
        #flechaDerecha{
            display: none;
        }

        #flechaIzquierda{
            display: none;
        }
    }

   
}